<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Choose a New Car</h1>
    <form action="form-group">
        <div>
        <label for="Make"><h2>Make:</h2><input type="text" name="" id=""></label>
        </div>
        <div>
        <label for="Year"><h2>Year:</h2><input type="text" name="" id=""></label>
        </div>
        <div>
        <label for="Model"><h2>Model:</h2><input type="text" name="" id=""></label>
        </div>
        <div>
        <label for="Color"><h2>Color:</h2><input type="text" name="" id=""></label>
        </div>
        <div>
        <input type="Submit">
        </div>
    </form>
</body>
</html>